{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome To My Page!!</title>
    <link rel="stylesheet" href="{% static 'css/something.css'">
<link rel="stylesheet" href="{% //maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% //maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.theme.min.css">
<link href="//fonts.googleapis.com/css family=lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-header">
             {% if user.is_authenticated %}
             <h1><a href="/">Fifa14 Lover!!</a> </h1>
             <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> </a>
             <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
             <p class="top-menu">Hello {{ user.username }} <small><a href="{% url 'logout' %}">Log out</a> </small></p>
    {% else %}
    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock">Welcome To The Page Dedicated To FIFA14</span></a>
           <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
</body>
</html>